*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.btn{
  padding: 0.8rem 2rem;
  border: 0;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
.btn-primary{
  background-color: #1f6aab;
}
.btn-outline{
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-outline:hover{
  background-color: #fff;
  color: #222;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.w-100{
  width: 100%;
}

.wrapper{
  background-color: #222;
  height: 100%;
}
.logo-wrapper {
    width: 220px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ab1f24;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    z-index: 1;
    padding: 1.6rem;
}
.logo-wrapper img{
  max-height: 100%;
}

.camera-wrapper{
  height: 100%;
  position: relative;
  background-color: #222;
  overflow: hidden;
}
.camera-wrapper video{
    width: 100%;
    height: 110%;
    object-fit: cover;
}
.mark-attendace{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
}
.mark-attendance-btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f6aab;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0px 0px 5px rgba(255,255,255,0.5);
  padding: 1.5rem;
  margin: 0 auto 1rem auto;
  border: 0;
  outline: none;
}
.mark-attendance-btn img{
  max-width: 100%;
}


/*.mark-attendace:before {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    background: #ab1f24;
    border-radius: 90px 90px 0 0;
}*/
.mark-attendace h2{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #fff;
  letter-spacing: 0.07rem;
  text-align: center;
}



.splash{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  background-image: url(../images/diamond-red.png);
}
.splash img{
  max-width: 100%;
}

.splash h3{
  font-weight: 700;
    color: #ab1f24;
    font-size: 1.8rem;
}