<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inapp Attendance Register</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
</head>

<body>

<div class="wrapper">
    <div class="logo-wrapper">
        <img src="{{ url_for('static', filename='images/name.innerHTML = data;logo-white.png') }}"/>
    </div>
    <div class="camera-wrapper">
        <video autoplay="true" controls="false" id="videoElement"></video>
        <canvas id="canvasElement" style="display: none"></canvas>
    </div>
    <div class="mark-attendace">
        <input type="hidden" name="username" id="username">
        <button class="mark-attendance-btn start" onclick="markAttendance()">
            <img src="{{ url_for('static', filename='images/mark-attendance.png') }}"/>
        </button>
        <h2 id="name">Unknown</h2>

        <div class="button-wrap w-100">
            <button class="btn btn-outline float-left" id="start" onclick="startCamera(true)">
                Start
            </button>
            <button class="btn btn-outline float-right" id="stop" onclick="startCamera(false)">
                Stop
            </button>
        </div>
    </div>

</div>

<div style="display:none">
    <img id="imageElement" src="{{ url_for('video_feed') }}">
</div>



<script>

        let namespace = "/video";
        let video = document.querySelector("#videoElement");
        let canvas = document.querySelector("#canvasElement");
        let name = document.querySelector("#name");
        let ctx = canvas.getContext('2d');
        var localMediaStream = null;

        var timer_fn = null;
        var detected_index = 0;
        var detected_names = ["Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown"];

        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        console.log(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        function sendSnapshot() {
            if (!localMediaStream) {
                return;
            }
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            ctx.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
            let dataURL = canvas.toDataURL('image/jpeg');
            console.log('Sending image data to server ...');
            socket.emit('input image', dataURL);
        }

        socket.on('connect', function() {
            console.log('Socket Connected!');
        });

        socket.on('response', function(data){
            console.log("Response from server : " + data);
            detected_names[detected_index] = data;
            detected_index++;
            if(detected_index == 10)
                detected_index = 0;

            name.innerHTML = most_detected(detected_names.slice());
        });

        function most_detected(arr){
            return arr.sort((a,b) =>
                arr.filter(v => v===a).length - arr.filter(v => v===b).length
            ).pop();
        }

        var constraints = {
            audio: false,
            video: {
                facingMode: 'user'
            }
        }

        function startCamera(start) {
            let elem = document.getElementById('start');
            if (start) {
                console.log("Starting camera ...")
                // Get access to the camera!
                if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                    // Not adding `{ audio: true }` since we only want video now
                    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                        console.log("Camera started ...")
                        video.srcObject = stream;
                        localMediaStream = stream;
                        video.play();

                        timer_fn = setInterval(function() {
                            sendSnapshot();
                        }, 1000);
                    })
                    .catch(function(err) {
                        console.log(err.name + ': ' + err.message);
                    });
                    elem.setAttribute("disabled","disabled");
                }
            }
            else {
                console.log("Stopping camera ...")
                if(timer_fn)
                    clearInterval(timer_fn);
                if(localMediaStream) {
                    localMediaStream.getTracks()[0].stop();
                    localMediaStream = null;
                }
                elem.removeAttribute("disabled");
                name.innerHTML = "Unknown";
                detected_names = ["Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown", "Unknown"];
            }
        }

        function markAttendance() {
              $.ajax({
                url:  "/attendance",
                data: name.innerHTML,
                type: 'POST',
                success: function(response){
                    console.log(response);
                    alert("Thank you !!!")
                },
                error: function(error){
                    console.log(error);
                    alert("Sorry there is a server issue. Please try again.");
                }
            });

        }

</script>

</body>
</html>
